#crystal-one{
    height: 50px;
    width: 50px;
    padding: 5px;
    border: 4px solid black;
}

#crystal-two{
    height: 50px;
    width: 50px;
    padding: 5px;
    border: 4px solid black;
}

#crystal-three{
    height: 50px;
    width: 50px;
    padding: 5px;
    border: 4px solid black;
}

#crystal-four{
    height: 50px;
    width: 50px;
    padding: 5px;
    border: 4px solid black;
}